<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hiberbate Configuration DTD 3.0//EN" 
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

    <hibernate-configuration>
       <session-factory>

       <property name="hibernate.dialect">josh.dao.SQLiteDialect</property>
       <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
       <property name="hibernate.connection.url">jdbc:sqlite:requests.sqlite </property>
       <property name="hibernate.show_sql">false</property>
       <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.c3p0.min_size">20</property>
  		<property name="hibernate.c3p0.max_size">100</property>
  		<property name="hibernate.c3p0.timeout">300</property>
  		<property name="hibernate.c3p0.max_statements">150</property>
  		<property name="hibernate.c3p0.idle_test_period">3000</property>
       <mapping class="josh.dao.Requests"/>
       </session-factory>
    </hibernate-configuration>